.externalCss{
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px green;
    margin-top: 10px;
    background-color:chartreuse;
}

.externalCss h2{
    font-style: italic;
    text-align: center;
    color: blue;
}

.externalCss p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: justify;
    color:blue;
    font-style:italic;
}

